  <h1>Patients Summary</h1>
    <center><table >
      
    <tr ><td>Total Patients Admitted : <%=  @patients_overview  %><td></tr>
    <tr><td>Total Patients On Treatment :<%=  @patients_treatment  %><td></tr>
    <tr><td> Total Patients Discharged :<%=@patients_discharge  %><td></tr>
    <tr><td>Total Patients Transferred <%=  @patients_referral  %><td></tr>

    </table></center>

