<h3>Paediatic Ward Management System (PWMS)</h3>
<p>------------------------------------------------------------------------------</p>
<p>PWMS was developed with the aim of managing data of underfive children at the paediatric ward easily, accurately, confidently and in a professional way.</p>
<p></p>
<p>Version : Trial</p>
<P>Year Released: 2011</p>
<p>All rights reserved</p>
<p>------------------------------------------------------------------------------</p>
