
<h1>Welcome</h1>

<p>--------------------------------------------------------------------------------------</p>
<p>You are most welcome to paediatric ward management system!!!!!!</p>
<p>Nurses, Clinical officers(Clinicians) and Doctors, this is your only chance to manage the information of paediatrics easily, accurately, confidently in a professional way.</p

<p>New User?   <%= link_to "Signup",:controller => "users", :action => "new" %>           </p>
Existing User? <%= link_to "Login", :controller => "sessions", :action => "new" %>
<p></p>
<p>--------------------------------------------------------------------------------------</p>
