<h1>Construction in Progress</h1>
<p><p>------------------------------------------------------------------------------</p>
<%= link_to "Back",:controller => "pages", :action => "capture",:class => "link_to" %>

